
* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: hsl(229, 57%, 11%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
    width: 1440px;

}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

p, span {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 0 30px;
    padding: 0 350px;
    width: 70vw;
    height: 250px;
    align-items: end;
}

.content::after  {
    content: '';
    background: url(../images/bg-desktop.svg) no-repeat center;
    width: 1400px;
    height: 700px;
    border-radius: 20px;

    position: absolute;
    z-index: -1;
    left: 150px;
    top: 172px;
}

.content .main, .content .progresso {
    background-color: hsl(228, 56%, 26%);
    display: flex;
    align-items: start;
    flex-direction: column;
    border-radius: 10px;
}

.content .main {
    border-top-right-radius: 100px;
    padding: 40px 40px;
    width: 350px;
    height: 200px;
}

.content .main header span {
    background: url(../images/logo.svg) no-repeat;
    display: block;
    width: 200px;
    height: 40px;
    margin-left: 5px;
    background-size: 130px;
}

.content .main header h1 {
    text-align: center;
}

.content .main .acoes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 35px;
}

.content .main .acoes li {
    list-style: none;
    background-color: hsl(229, 57%, 11%);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  
}

.content .progresso {
    width: 600px;
    height: 150px;
    padding-left: 40px;
}

.content .progresso .message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
}


.content .progresso .message .balao {
   position: relative;
   background: white;
   border-radius: 10px;
   display: flex;
   align-items: center;
   padding: 10px 10px;
   bottom: 45px;
   left: 340px;
   width: 165px;
}

.content .progresso .message .balao::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-top-color: white;
    border-bottom: 0;
    border-right: 0;
    margin-left: 57px;
    margin-bottom: -16px;

}

.content .progresso .message .balao span:first-of-type  {
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin: 0 10px;
}

.content .progresso .message .balao span + span {
    font-weight: bold;
    font-size: 12px;
    color: hsl(229, 7%, 55%);
}

.content .progresso .bar {
    margin-top: 30px;
}

.content .progresso .bar p {
    line-height: 40px;
    color: hsl(243, 100%, 93%);
}

.content .progresso .bar .barra-progresso {
    width: 510px;
    height: 20px;
    border-radius: 15px;
    border: 2px solid transparent;
    background: hsl(229, 57%, 11%);
}

.content .progresso .bar .barra-progresso .usado {
    width: 1%;
    height: 15px;
    border-radius: 15px;
    background: linear-gradient(to right, hsl(6, 100%, 80%),  hsl(335, 100%, 65%));

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.content .progresso .bar .barra-progresso .usado .bola {
    background: white;
    border: 2px solid transparent;
    width: 11px;
    height: 11px;
    border-radius: 15px;
    margin-right: 2px;
}


.content .progresso .bar .capacity {
    display: flex;
    justify-content: space-between;
    margin: 5px auto;
}

.content .progresso .bar .capacity span {
    font-size: 12px;
    font-weight: bold;
}